@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
  font-family:"Roboto Slab", serif;
  background-color:black;
  color: #ddd;
  margin: 0;
}

a{
  color: #0FF;
}

a:visited{
  color: #fb3;
}

.subtitle{
  text-align:center;
}

.content-box{
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom:0.6%;
}

#content {
  padding: 1em;
}

.inline {
  display: inline-block;
}

#subteams .desc {
  width: 60%;
  margin-left: 5%;
}

#programming, #cad, #marketing, #electrical, #mechanical {
  margin-left: 5%;
}

.image-info{
  width:15%;
  vertical-align:top;
  padding: 0.25em;
}

.wrapper{
  text-align:center;
}

#navbar {
  text-align: center;
}

.line-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.line-list li {
  display: inline-block;
}

#navbar li {
  width: 30%;
  border: 2px solid #ddd;
}

a.clickbutton {
  display: block;
  color: #0ff;
  text-decoration: none;
}

#navbar a:hover {
  background-color: gray;
}

#navbar .active {
  background-color: gray;
}

#footer {
  border-top: 2px solid gray;
  background-color: #333;
}

#footer li {
  border-right: 2px solid #bbb;
  padding-right: 0.25em;
}

#countdown-timer {
  text-align: center;
  font-size: 32pt;
}
