@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
  font-family:"Roboto Slab", serif;
  background-color:black;
  color: #ddd;
}

a{
  color: #0FF;
}

a:visited{
  color: #fb3;
}

.subtitle{
  text-align:center;
}

.content-box{
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom:0.6%;
}

#content {
  border: 4px solid black;
  padding: 1em;
}

.inline {
  display: inline-block;
  border: 2px solid black;
  padding: 0.25em;
}

#subteams .desc {
  width: 60%;
  margin-left: 5%;
}

#programming, #cad, #marketing, #electrical, #mechanical {
  margin-left: 5%;
}

.image-info{
  width:15%;
  vertical-align:top;
}

table {
  width: 100%; /* So we can make the table rows as wide as we want */
}

#mentor-table td {
  display: inline-block;
  /*border: 2px solid black;*/
}

#mentor-table .mentor-name {
  width: 10%;
}

#mentor-table .mentor-desc {
  width: 25%;
}

.wrapper{
  text-align:center;
}
