@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
  font-family:"Roboto Slab", serif;
  background-color:black;
  color: #ddd;
}

.subtitle{
  text-align:center;
}

.content-box{
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom:0.6%;
}

#content {
  border: 4px solid black;
  padding: 1em;
}

.inline {
  display: inline-block;
  border: 2px solid black;
  padding: 0.25em;
}

#subteams .desc {
  width: 80%;
}

.image-info{
  width:15%;
  vertical-align:top;
}

.wrapper{
  text-align:center;
}
