{% extends "layout.html" %}
{% set page_name="About First" %}
{% block content %}
    <div id="about-first" class="content-box">
        <h2 class="wrapper">About FIRST</h2>
        <p class="text">
            FIRST (For The Inspiration and Recognition of Science and Technology) is an international organization that
            challenges young people to solve various challenges using a combination of science, technology, engineering,
            and mathematics. FIRST offers four programs: FIRST Lego League Junior (FLL Jr.), FIRST Lego League (FLL),
            First Tech Challenge (FTC), and FIRST Robotics Competition (FRC). Each level is given a different challenge
            every year, and teams must use their engineering experiences to complete their respective goals.
        </p>
    </div>
    <div class="content-box" id="about-frc">
        <h2 class="subtitle">About FRC</h2>
        <p class="text">
            FIRST Robotics Competition was created in 1992. It has since grown from a small-town competition held in a
            high school gymnasium into the world’s largest robotics competition. Currently, the FIRST Robotics
            Competition has expanded to over seventeen countries, and is comprised of over 2,720 teams and 47,500
            members. Each year, teams are given a specific challenge and an optional kit of parts. Teams order, design,
            and construct a robot that will succeed in the challenge they have been presented with.
        </p>
    </div>
    <h2 class="subtitle">More Info</h2>
    <div class="content-box" id="more-info">
        <p class="text">
            Interested in starting or joining a FIRST team? Visit
            <a href="http://www.firstinspires.org/team-event-search">FirstInspires.org</a>
            for more information.
        </p>
        <div class="content-box" id="about-fll">
            <h3 class="subtitle">FLL</h3>
            <p class="text">
                In 1999, FIRST Lego League was created in order to teach children ages 9-14 about science and technology
                in an engaging way. Every year, NASA and FIRST announce a new challenge centered around a real world
                problem, such as global warming or food preservation. The members of the team must design and program a
                Lego MINDSTORMS® robot to complete the tasks pertaining to the challenge they were given. Finally, the
                members must present a robot design summary, complete a research project, and demonstrate FIRST core
                values such as spirit and gracious professionalism.
            </p>
        </div>
        <div class="content-box" id="about-fll-jr">
            <h3 class="subtitle">FLL Jr.</h3>
            <p class="text">
                Junior FIRST Lego League (FLL Jr.) was established in 2004 to allow children ages 6-10 to experience
                science and technology. As with FLL, the children use basic engineering concepts and LEGOs in order to
                build a robot that will solve a real-world problem. Additionally, the children make a poster and to
                present themselves to judges.
            </p>
        </div>
        <div class="content-box" id="about-ftc">
            <h3 class="subtitle">FTC</h3>
            <p class="text">
                FIRST Tech Challenge was formed in 2005 as a low-cost alternative to FIRST Robotics Competition. Similar
                to the FIRST Robotics Competition, FIRST Tech Challenge members are given a new challenge and a kit of
                parts every year. They must document their progress within an “engineering notebook” as they build and
                program a robot to complete their challenge.
            </p>
        </div>
    </div>
{% endblock %}
