body {
    text-align: center;
}

td {
    vertical-align: middle;
}

#login-table td:nth-child(1) {
    text-align: right;
}

#login-table input {
    margin-left: 5px;
}

#login-table {
    margin-bottom: 14px;
}

#login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}