{% extends "admin/admin-template.html" %}
{% set page_display = "Home" %}
{% block head %}
    <meta charset="UTF-8">
    <title>Page Editor</title>
    <style>
        .list-selection {
            width: 605px;
            height: 200px;
            outline: 1px solid #a7a7a7;
            overflow-y: scroll;
            overflow-x: hidden;
            resize: vertical;
        }
        
        .list {
            
        }
        
        textarea {
            resize: vertical;
            width: 350px;
            height: 15px;
        }
        
        .text {
            width: 600px;
            height: 75px;
        }
        
        .image {
            width: 600px;
            height: 15px;
        }
        
        .image-placeholder {
            display: none;
        }
        
        table td {
            vertical-align: top;
        }
    </style>
    {% macro jsescape(str) -%}
        {{ str|replace('\"', '\\\"')|replace('\n', '\\n')|replace('\r', '\\r') }}
    {%- endmacro %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        var page = "{{ data['page_name'] }}"
        
        var typeInfo = {{ data['type_info'] }}
        
        var staticElements = {}
        {% for type in data['type_info'] %}
            staticElements["{{ type }}"] = {}
            staticElements["{{ type }}"]["data"] = {}

            {% for item in data['static_elements'][type] %}
                staticElements["{{ type }}"]["data"]["{{ item['name'] }}"]  = {}
                {% for key in item %}
                    staticElements["{{ type }}"]["data"]["{{ item['name'] }}"]["{{ key }}"]  = {% if key == "data" %}{{item[key]}}{% else %}"{{item[key]}}"{% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        var listElements = {}
        {% for list in data["list_elements"] %}
            listElements["{{ list['name'] }}"] = {}
            {% for var in list["data"] %}
                listElements["{{ list['name'] }}"]["{{ var['name'] }}"] = {"data":[
                    {% for entry in var["data"] -%}
                        {{ ',' if loop.index > 1 else '' }}
                        {{ entry }}
                    {%- endfor %}
                ], "display":"{{ jsescape(var['display']) }}", "type":"{{ jsescape(var['type']) }}"}
            {% endfor %}
            listElements["{{ list['name'] }}"]["_count"] = {{ list["count"] }}
            listElements["{{ list['name'] }}"]["_display"] ="{{ list['display'] }}"
        {% endfor %}
    </script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/admin/item-handler.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/admin/list-loader.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/admin/page-loader.js") }}"></script>
{% endblock %}


{% block content %}
    <h1>{{ data['page_name'] }}</h1>
    {% for type in data['type_info'] %}
        {% if data['static_elements'][type]|length > 0 %}
        <h3>{{ data['type_info'][type]['display'] }} Elements</h3>
        <div id="{{ type }}">
        </div>
        {% endif %}
    {% endfor %}
        
        {% if data['list_elements']|length > 0 %}
        <h3>Lists</h3>
        <div id="lists">
        </div>
        {% endif %}

        <button onclick="pageLoader.save()">Save</button>
        <button onclick="pageLoader.genPreview()">View Preview</button>
        <div id="message-box"></div>
{% endblock %}
