{% extends "admin/admin-template.html" %}
{% set page_display = "Home" %}
{% block head %}
    <title>Home</title>
    <style type="text/css">
        td {
            text-align: right;
        }
        
        .heading {
            text-align: left;
        }
        
        #errors {
            color: red;
        }
    </style>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    
    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        
        function submitPartial(data) {
            var formData = {};

            for (var i = 0; i < data.length; i++) {
                formData[data[i]] = $("input[name=" + data[i] + "]").val()
            }
            
            $.ajax({
                url: $SCRIPT_ROOT + "/admin/edit-user", 
                type: "post", 
                data: formData, 
                dataType:"json",
                success: function(data) {
                    errors = document.getElementById("errors");
                    errors.innerHTML = "";
                    
                    for (var i = 0; i < data["errors"].length; i++) {
                        item = document.createElement("li");
                        item.innerHTML = data["errors"][i];
                        errors.appendChild(item);
                    }
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Hello, {{ name }}!</h1>
    <h3>Edit a page:</h3>
    <ul>
    {% for page in pages %}
        <li><a href="{{ url_for('edit_page', page=page) }}">{{ page }}</a></li>
    {% endfor %}
    </ul>
    <h3>Settings</h3>
    <form id="settings">
        <table id="login-table">
            <tr><td class="heading"><b>Password:</b></td></tr>
                <tr>
                    <td class="required">Password:</td>
                    <td><input type="password" name="password" required/></td>
                </tr>
                <tr>
                    <td class="required">Confirm Password:</td>
                    <td><input type="password" name="confirm" required/></td>
                </tr>
            <tr><td></td><td><button type="button" onclick="submitPartial(['password', 'confirm'])">Update</button></td></tr>
            <tr><td class="heading"><b>Email:</b></td></tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" name="email" value="{{ user_data['email'] }}" required/></td>
                </tr>
            <tr><td></td><td><button type="button" onclick="submitPartial(['email'])">Update</button></td></tr>
            <tr><td class="heading"><b>Name:</b></td></tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" name="first-name" value="{{ user_data['first-name'] }}" required/></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" name="last-name" value="{{ user_data['last-name'] }}" required/></td>
                </tr> 
            <tr><td></td><td><button type="button" onclick="submitPartial(['first-name', 'last-name'])">Update</button></td></tr>
        </table>
    </form>
    
    <ul id="errors"></ul>
{% endblock %}
