<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{{ page_name }} | Chantilly Robotics</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="{{ url_for('static', filename='css/mobile-style.css') }}">
</head>
<body>
<div id="header">
    <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}">
    <div id="navbar">
        <ul class="line-list">
            <li><a class="clickbutton {{ 'active' if pg == 'index' else ''}}"
                   href="{{ url_for('default', path='index') }}">Home</a></li>
            <li><a class="clickbutton {{ 'active' if pg == 'about-us' else ''}}"
                   href="{{ url_for('default', path='about-us') }}">About</a></li>
            <li><a class="clickbutton {{ 'active' if pg == 'about-first' else ''}}"
                   href="{{ url_for('default', path='about-first') }}">FIRST</a></li>
            <li><a class="clickbutton {{ 'active' if pg == 'outreach' else ''}}"
                   href="{{ url_for('default', path='outreach') }}">Outreach</a></li>
            <li><a class="clickbutton" href="#">Team History</a></li>
            <li><a class="clickbutton {{ 'active' if pg == 'resources' else ''}}"
                   href="{{ url_for('default', path='resources') }}">Resources</a></li>
            <li><a class="clickbutton {{ 'active' if pg == 'sponsors' else ''}}"
                   href="{{ url_for('default', path='sponsors') }}">Sponsors</a></li>
        </ul>
    </div>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    <a id="back-to-top" href="#">Back to top</a>
    <div id="social">
        <p>Find us</p>
        <ul class="line-list">
            <li><a href="mailto:chantilly.612@gmail.com">Email</a></li>
            <li><a href="https://www.facebook.com/ChantillyRoboticsFirstTeam612">Facebook</a></li>
            <li><a href="https://github.com/Team612">GitHub</a></li>
        </ul>
    </div>
    <div style="height:1em"></div>
</div>
</body>
</html>
