<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page not Found</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="{{ url_for('static', filename='css/mobile-style.css') }}">
</head>
<body style="text-align:center;font-size:150%">
    <img id="logo" src="{{ url_for('static', filename='img/logo.png') }}">
    <h1>404 - Page not Found</h1>
    <p>Sorry, we couldn't find '{{ data["page_url"] }}'</p>
    <p><a href="{{ url_for('home') }}">Back to main page</a></p>
</body>
</html>