<content name="About">
    <h1 class="wrapper">About Team 612</h1>
    <editable type="image" name="test_image" display="fs" alt="Test Image"/>
    <div id="about-the-team" class="content-box">
        <p>
            <editable type="text" name="team_desc" display="Team Description"/>
        </p>
        <h1 class="subtitle mobile-only">Leadership</h1>
        <div class="wrapper">
            <editable type="list" name="leadership" display="Leadership Descriptions">
                <div class="inline image-info">
                    <var type="image" name="picture" display="Profile Photo"/>
                    <p>
                        <var type="text" name="name" display="Name"/><br/>
                        <var type="text" name="position" display="Position"/><br/>
                        <var type="text" name="desc" display="Description"/>
                    </p>
                </div>
            </editable>
        </div>
    </div>
    <h1 class="subtitle">Subteams</h1>
    <div id="subteams" class="content-box">
        <editable type="list" name="subteams" display="Subteam Descriptions">
            <h3 class="subtitle mobile-only"><var type="text" name="title" display="Subteam Name"/></h3>
            <div class="subteam-divider">
                <div class="inline image-info">
                    <var type="image" name="image" display="Subteam Image" width="100%"/>
                </div>
                <div class="inline desc">
                    <h3 class="desktop-only"><var type="text" name="title" display="Subteam Name"/></h3>
                    <p>
                        <var type="text" name="desc" display="Subteam Description"/>
                    </p>
                </div>
            </div>
        </editable>
    </div>
    <h1 class="subtitle">Our Mentors</h1>
    <div id="mentors" class="content-box">
        <center>
            Thank you to all of our mentors. Our team succeeds every year because of you all.
        </center>
        <table id="mentor-table">
            <editable type="list" name="mentors" display="Mentor Table">
                <td class="mentor-name"><var type="text" name="mentor_name" display="Name"/></td>
                <td class="mentor-desc"><var type="text" name="mentor_desc" display="Description"/></td>
            </editable>
        </table>
    </div>
    <h1 class="subtitle">Awards</h1>
    <div id="awards" class="content-box">
        <dl id="awards-list">
            <editable type="list" name="awards" display="Awards List">
                <dt><var type="text" name="year" display="Name"/></dt>
                <dd><var type="text" name="awards" display="Award"/></dd>
            </editable>
        </dl>
    </div>
</content>