<content name="FIRST">
    <div id="about-first" class="content-box">
        <h2 class="wrapper">About FIRST</h2>
        <p class="text">
            <editable type="text" name="first_desc" display="Description of FIRST"/>
        </p>
    </div>
    <div class="content-box" id="about-frc">
        <h2 class="subtitle">About FRC</h2>
        <p class="text">
            <editable type="text" name="frc_desc" display="Description of FRC"/>
        </p>
    </div>
    <h2 class="subtitle">More Info</h2>
    <div class="content-box" id="more-info">
        <p class="text">
            <editable type="text" name="more_info" display="More Information"/>
        </p>
        <div class="content-box" id="about-fll">
            <h3 class="subtitle">FLL</h3>
            <p class="text">
                <editable type="text" name="fll_desc" display="Description of FLL"/>
            </p>
        </div>
        <div class="content-box" id="about-fll-jr">
            <h3 class="subtitle">FLL Jr.</h3>
            <p class="text">
                <editable type="text" name="jrfll_desc" display="Description of Jr. FLL"/>
            </p>
        </div>
        <div class="content-box" id="about-ftc">
            <h3 class="subtitle">FTC</h3>
            <p class="text">
                <editable type="text" name="ftc_desc" display="Description of FTC"/>
            </p>
        </div>
    </div>
</content>