<content name="Home">
    <editable type="variable" name="date" display="Event Date"/>
    <div id="image-spread">
        <editable type="image" name="bg" display="Background Image" style="width: 100%; padding-top: 2%"/>
        <div id="countdown">
            <p>
                <span id="days"></span>
                <span id="hours"></span>
                <span id="minutes"></span>
                <span id="seconds"></span><br/>
                <editable type="text" name="countdown_desc" display="Event Name"/>
            </p>
        </div>
    </div>
    <table id="events">
        <tr>
            <th>Event</th>
            <th>Time</th>
            <th>Location</th>
        </tr>
        <editable type="list" name="events" display="Upcoming Events">
            <tr>
                <td><var type="text" name="name" display="Name"/></td>
                <td><var type="text" name="date" display="Date"/></td>
                <td><var type="text" name="loc" display="Location"/></td>
            </tr>
        </editable>
    </table>
    <div id="main" class="content-box">
        <editable type="text" name="main" display="Main Page Body"/>
    </div>
</content>