<content name="Outreach">
    <ul id="outreach" class="line-list wrapper">
        <editable type="list" name="outreach_events" display="Outreach Events">
            <li>
                <h2 class="subtitle"><var type="text" name="event_title" display="Title"/></h2>
                <div class="content-box">
                    <var type="image" name="img_left" display="Left Image" class="image-info"/>
                    <div class="inline outreach-desc">
                        <p>
                            <var type="text" name="desc" display="Description"/>
                        </p>
                    </div>
                    <var type="image" name="img_right" display="Right Image" class="image-info"/>
                </div>
            </li>
        </editable>
    </ul>
</content>