<content name="Resources">
    <h2 class="wrapper">Contact</h2>
    <ul id="contacts" class="line-list wrapper">
        <editable type="list" name="contacts" display="Contacts">
            <li>
                <var type="text" name="name" display="Name"/><br/>
                <var type="text" name="role" display="Team Role"/><br/>
                <var type="text" name="email" display="Email"/><br/>
            </li>
        </editable>
    </ul>
    <h2 class="wrapper">Resources</h2>
    <ul class="resources">
        <editable type="list" name="resources" display="Resources">
            <li>
                <!-- link syntax is lacking -->
                <var type="text" name="name" display="Resource Name and Link"/>
                <p class="desc">
                    <var type="text" name="desc" display="Resource Description"/>
                </p>
            </li>
        </editable>
    </ul>
</content>