<content name="Sponsors">
    <div id="sponsor-list" class="content-box">
        <h1 class="wrapper"> Our Sponsors </h1>
        <ul class="line-list wrapper">
            <editable type="list" name="sponsors">
                <li>
                    <var type="image" name="logo" display="Sponsor Image"/>
                    <p><var type="text" name="title" display="Sponsor Name"/></p>
                    <p><var type="text" name="info" display="Sponsor Info"/></p>
                    <p><var type="text" name="contact" displaye="Contact Info"/></p>
                </li>
            </editable>
        </ul>
    </div>
</content>